@import "../styles/theme";
@import "../styles/viewports";

div.stakePage {
  min-height: 100vh;
  background: var(--background-main);
  color: var(--text);
  font-size: 16px;
  padding-bottom: 80px;

  .container {
    max-width: 995px;
    margin: 0 auto;
    width: 100%;
  }

  .content {
    width: 100%;
    margin: 0;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 58% 38%;
    column-gap: 10px;
    justify-content: center;

    @include breakpoint(lg) {
      padding-left: 4px;
      padding-right: 4px;
    }
    @include breakpoint(md) {
      row-gap: 10px;
      grid-template-columns: 100%;
      grid-template-rows: auto;  
    }
  }
}
