@import "../styles/theme.scss";
@import "../styles/viewports";

.arrowLeft {
  margin-top: 8px;
  &::before {
    display: inline-block;
    padding-right: 5px;
    content: "\2190"; // arrow left unicode
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
  }
  &:hover {
    &::before {
      -webkit-transform: translateX(-4px);
      -moz-transform: translateX(-4px);
      -ms-transform: translateX(-4px);
      -o-transform: translateX(-4px);
      transform: translateX(-4px);
    }
  }
}