@import "../styles/theme";
@import "../styles/viewports";

div.bottommenu {
  bottom: 24px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  padding: 0 20px;
  color: var(--text);

  a {
    margin-left: 20px;
  }

  @include breakpoint(lg) {
    display: none;
  }
}
