@import "../styles/theme";

div.bottommenu {
  bottom: 24px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--text);
}

a {
  margin-left: 10px;
  display: inline-block;
}
