@import "../styles/theme";
@import "../styles/viewports";

div.confirmTransaction {
  margin-top: 0;
  padding: 40px;
  text-align: center;
  background: var(--background-element);
  border-radius: 8px;

  h3 {
    font-family: $font-family-title;
    font-style: normal;
    font-weight: $bold;
    font-size: 30px;

    @include breakpoint(sm) {
      font-size: 24px;
    }
  }

  .loadingGif {
    width: 40px;
    margin-top: 16px;
  }
}

.failed {
  color: $error;
}

.success {
  color: $success;
}
