@import "../styles/theme";
@import "../styles/viewports";

div.farmsOverview {
  margin-top: 40px;
  width: 100%;
  background: var(--background-element);
  box-shadow: var(--shadow);
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 24px 32px;
  @include breakpoint(md) {
    padding-left: 4px;
    padding-right: 4px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    justify-content: space-between;
    @include breakpoint(md) {
      align-items: baseline;
    }
  }

  .balanceInfo {
    display: flex;
    gap: 10px;
    margin-top: 6px;
    @include breakpoint(md) {
      justify-content: space-between;
    }
  }

  .tokenBalanceText {
    color: var(--text-lighter);
    @include breakpoint(sm) {
      font-size: 12px;
    }
  }

  .tokenBalanceValue {
    font-weight: $bold;
    color: $primary;
    @include breakpoint(sm) {
      font-size: 12px;
    }
  } 

  h4.title {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    color: var(--text-title);
    margin-right: 16px;
    @include breakpoint(md) {
      font-size: 21px;
      margin-bottom: 7px;
    }
  }
  .titleBox {
    display: flex;
    align-items: center;
    @include breakpoint(md) {
      flex-wrap: wrap;
      align-items: baseline;
      a {
        margin: 0;
      }
    }
  }
  .farmDescription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoint(md) {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    p {
      margin-top: 15px;
      color: var(--text);
      a {
        margin: 0;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .farmButton {
      margin-left: 40px;
      button {
        width: 175px;
        @include breakpoint(md) {
          width: 300px;
        }
      }
      @include breakpoint(md) {
        margin-top: 20px;
        margin-left: 0px;
      }
    }
  }

  .tag {
    border-radius: 4px;
    font-size: 20px;
    font-weight: $bold;
    align-self: center;
    padding: 2px 4px;
    border: 1px solid #4f46e5;
    color: #4f46e5;
    @include breakpoint(md) {
      font-size: 15px;
    }
  }
  .tag.rose {
    border: 1px solid var(--text);
    color: var(--text);
  }

  .stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  .label {
    color: var(--text-lighter);
    font-weight: 700;
    font-size: 12px;
  }

}
