@import "../styles/theme";
@import "../styles/viewports";

div.farmPage {
  width: 100%;
  margin: 0;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 30% 30% 20% 20%;
  grid-template-rows: 350px auto;
  grid-template-areas: 
    "leftBlock leftBlock rightBlock rightBlock"
    "rewards rewards rewards rewards"
    "footer footer footer footer";
  justify-content: center;

  @include breakpoint(md) {
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 40px;
    flex-wrap: wrap;
    display: flex;
  }
}