@import "../styles/theme";
@import "../styles/viewports";

div.farmPage {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 58% 38%;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: 
    "leftBlock rightBlock"
    "footer footer";
  justify-content: center;

  @include breakpoint(md) {
    padding-left: 4px;
    padding-right: 4px;
    flex-wrap: wrap;
    display: flex;
  }

  .stakeDetailsContainer {
    grid-area: rightBlock;
    background: var(--background-element);
    border: 1px solid var(--outline);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 10px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include breakpoint(md) {
      width: 100%;
      order: 2;
    }
  }

  .approveButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    @include breakpoint(sm) {
      flex-wrap: wrap;
      & > button {
        margin: 10px;
      }
    }
  }
}