@import "../styles/theme";
@import "../styles/viewports";

div.farmTabs {
  grid-area: leftBlock;
  background: var(--background-element);
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 24px;
  @include breakpoint(md) {
    width: 100%;
    order: 1;
  }

  h4.farmTitle {
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    @include breakpoint(lg) {
      font-size: 25px;
    }
    @include breakpoint(sm) {
      font-size: 21px;
    }
  }
}