@import "../styles/theme";
@import "../styles/viewports";


div.harvestRewards {
  grid-area: rewards;
  background: var(--background-element);
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 10px;
  @include breakpoint(md) {
    width: 100%;
    order: 2;
  }

  .harvestRewardsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--secondary-background);
    border-radius: 10px;
    padding: 15px;
    @include breakpoint(md) {
      width: 100%;
      flex-wrap: wrap;
    }
  }

  h4.title {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    color: var(--text-title);
    @include breakpoint(md) {
      font-size: 20px;
    }
    @include breakpoint(sm) {
      font-size: 18px;
    }
  }

  div.rewardBalance {
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
      text-align: end;
    }
  }

  div.buttonWrapper {
    @include breakpoint(md) {
      margin-top: 30px;
      width: 100%;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}