@import "../styles/theme";
@import "../styles/viewports";

div.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  padding-top: 4%; /* Location of the box */
  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

div.modalContent {
  width: 565px;
  border: 2px solid var(--text-primary);
  margin: auto;
  box-shadow: 0px 0px 8px var(--text-primary);
  border-radius: 15px;
  position: relative;
  max-height: calc(100vh - 72px);
  overflow: auto;
  @include breakpoint(sm) {
    width: 95%;
    position: relative;
    max-height: calc(100vh - 36px);
  }

  .close {
    position: absolute;
    right: 0;
    color: #aaa;
    font-size: 32px;
    font-weight: bold;
    line-height: 24px;
    margin-top: 16px;
    margin-right: 24px;

    &:hover,
    &:focus {
      color: var(--text-selected);
      text-decoration: none;
      cursor: pointer;
    }
  }
}
