@import "../styles/theme";
@import "../styles/viewports";

.inputContainer {
  padding-top: 15px;
}

.submitButton {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}