@import "../styles/theme";
@import "../styles/viewports";

.stakeDetailsContainer {
  background: var(--background-element);
  border: 1px solid var(--outline);
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include breakpoint(md) {
    width: 100%;
    flex-direction: row;
    order: 0;
  }

  .stakeDetails {
    padding: 10px;
  }

  .icon {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }

  .row:nth-child(2) {
    padding-bottom: 2em;
  }

  .row {
    display: flex;
    margin-top: 8px;
    width: 100%;
  }

  .balanceDetails {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-size: 18px;
    @include breakpoint(sm) {
      font-size: 14px;
    }

    @include breakpoint(sm) {
      font-size: 12px;
    }

    span {
      padding: 0.2em;
    }

    .balance {
      font-weight: 600;
    }

    .token {
      font-weight: 300;
    }
  }

  h3.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

    @include breakpoint(sm) {
      font-size: 20px;
    }

    @include breakpoint(sm) {
      font-size: 18px;
    }
  }
}
