@import "../styles/theme";
@import "../styles/viewports";

.stakeDetails {
  background: var(--secondary-background);
  padding: 15px;
  border: 1px solid var(--outline);
  border-radius: 10px;
}

.icon {
  width: 40px;
  margin-right: 20px;
  & > img {
    width: 100%;
  }
}

.row {
  display: flex;
  align-items: center;
  margin: 8px 0;
  width: 100%;
}

.balanceDetails {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  @include breakpoint(sm) {
    font-size: 14px;
  }

  @include breakpoint(sm) {
    font-size: 12px;
  }

  span {
    padding: 0.2em;
  }

  .balance {
    font-weight: 600;
  }

  .token {
    font-weight: 300;
  }
}

.underline {
  border-bottom: 1px dotted var(--text);
  cursor: help;
}

.statsDetails {
  background: var(--secondary-background);
  padding: 15px;
  border: 1px solid var(--outline);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  height: 100%;
  .statValue {
    font-weight: 600;
  }

  .statRow {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

h3.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
