@import "../styles/theme";
@import "../styles/viewports";

div.stakePage {
  width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 58% 38%;
  grid-template-rows: auto;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-areas: 
    "header header"
    "leftBlock rightBlock";
  justify-content: center;

  @include breakpoint(md) {
    padding-left: 4px;
    padding-right: 4px;
    flex-wrap: wrap;
    display: flex;
  }
}

div.stakeForm {
  grid-area: leftBlock;
  background: var(--background-element);
  box-shadow: var(--shadow);
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 24px;
  @include breakpoint(md) {
    width: 100%;
    order: 2;
  }

  .pill {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    border-radius: 2em;
    white-space: nowrap;
    @include breakpoint(sm) {
      font-size: 9px;
    }
  }

  .colorPill {
    outline: 2px;
    background: linear-gradient(to left, #fffbd5, #d88394);
    min-height: 40px;
    padding: 0 1.618em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .glowPill {
    position: relative;
    background: linear-gradient(
      -90deg,
      #e8b5af,
      #f2d3bf,
      #e2a1a4,
      #d88394,
      #e8b5af
    );
    background-size: 400% 100%;
    border: none;
    padding: 0;
    margin: 0;
    animation: Gradient 8s ease infinite;
    text-decoration: none;
  }

  .glowPill div {
    color: black;
    min-height: 40px;
    padding: 0 1.618em;
    border-radius: inherit;
    background-size: inherit;
    background-image: inherit;
    animation: Gradient 15s ease infinite;
    position: relative;
    z-index: 1;
    mix-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @keyframes Gradient {
    50% {
      background-position: 140% 50%;
      transform: skew(-2deg);
    }
  }

  .glowPill::after {
    content: "";
    position: absolute;
    background-size: inherit;
    background-image: inherit;
    animation: inherit;
    left: 0px;
    right: 0px;
    top: 2px;
    height: 100%;
    filter: blur(1rem);
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 100%;
    align-items: center;
  }

  h3.stakeTitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    @include breakpoint(sm) {
      font-size: 19px;
    }
  }
}

div.stakeInfo {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  background: var(--background-element);
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 20px;

  @include breakpoint(md) {
    width: 100%;
    order: 1;
  }

  h3 {
    font-family: $font-family-title;
    font-size: 30px;
    font-weight: $bold;
    line-height: 1.7em;
    margin-bottom: 10px;
    @include breakpoint(sm) {
      font-size: 25px;
    }
  }

  .stakeInfoContainer {
    background: #cc3a5a0c;
    border: 1px solid var(--outline);
    border-radius: 10px;
    padding: 24px;
    width: 100%;

    .infoMessage {
      text-align: justify;
    }
  }
}
