@import "../styles/theme";
@import "../styles/viewports";

.inputContainer {
  padding-top: 15px;
}

.submitButton {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stakeInfoContainer {
  margin-top: 20px;
  background: #cc3a5a0c;
  border: 1px solid var(--outline);
  border-radius: 10px;
  padding: 24px;
  width: 100%;

  .infoMessage {
    text-align: justify;
    color: var(--text-lighter);
  }
}