.pill {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 2em;
  white-space: nowrap;
}

.colorPill {
  outline: 2px;
  background: linear-gradient(195deg, #e8b5af, #f2d3bf);
  min-height: 40px;
  padding: 0 1.618em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8b5af;
  box-shadow: 0px 0px 10px #e8b5af;
}

.glowPill {
  background: linear-gradient(
    -90deg,
    #e8b5af,
    #f2d3bf,
    #e2a1a4,
    #d88394,
    #e8b5af
  );
  background-size: 400% 100%;
  border: none;
  padding: 0;
  margin: 0;
  animation: Gradient 8s ease infinite;
  -webkit-animation: Gradient 8s ease infinite;
  text-decoration: none;
}

.glowPill div {
  color: black;
  min-height: 40px;
  padding: 0 1.618em;
  border-radius: inherit;
  background-size: inherit;
  background-image: inherit;
  animation: Gradient 15s ease infinite;
  -webkit-animation: Gradient 15s ease infinite;
  position: relative;
  mix-blend-mode: overlay;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes Gradient {
  50% {
    background-position: 140% 50%;
    transform: skew(-2deg);
  }
}

.glowPill::after {
  content: "";
  position: absolute;
  background-size: inherit;
  background-image: inherit;
  animation: inherit;
  -webkit-animation: inherit;
  left: 0px;
  right: 0px;
  top: 2px;
  height: 100%;
  filter: blur(1rem);
}