@import "../styles/theme";
@import "../styles/viewports";

.stakeDetails {
  background: var(--secondary-background);
  padding: 15px;
  border: 1px solid var(--outline);
  border-radius: 10px;
}

.row {
  display: flex;
  align-items: center;
  margin: 8px 0;
  width: 100%;
}

.detailsRow {
  display: grid;
  grid-template-columns: 70px auto;
  gap: 10px;
  align-items: center;
  margin: 8px 0;
  width: 100%;
}

h3.title {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}
