@import "../styles/theme";
@import "../styles/viewports";

div.walletStatus {
  display: flex;
  justify-content: space-evenly;
  & > button {
    @include breakpoint(sm) {
      font-size: 13px;
    }
  }

  .networkIcon {
    @include breakpoint(xs) {
      display: none;
    }
  }
}
