@import "../styles/theme.scss";
@import "../styles/viewports";

.outdatedInfo {
  margin-bottom: 12px;
  a {
    margin-left: 0;
    text-decoration: underline;
  }
}

.options {
  background: var(--secondary-background);
  border-radius: 10px;
  padding: 10px;
}

.form {
  width: 100%;
  border: 1px solid var(--outline);
  background: var(--secondary-background);
  border-radius: 10px;
  padding: 15px;
}

.form h3 {
  font-family: $font-family-title;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: $bold;
  color: var(--text-darker);
  text-align: start;

  @include breakpoint(md) {
    font-size: 25px;
  }
}

.form .instructions {
  margin: 24px 0;
}

.percentage {
  display: flex;
  // flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  span {
    font-weight: $bold;
    letter-spacing: -0.04em;
  }

  input {
    background-color: var(--primary-background);
    border-color: $primary-blue-dark;
    &:focus {
      border-color: $primary-darker;
    }
  }

  .error {
    margin-top: 8px;
    color: $error;
    font-size: 14px;
    text-align: right;
    width: 100%;
  }
}

div.horizontalDisplay {
  display: flex;
  gap: 8px;
  margin: 30px 0;
  @include breakpoint(md) {
    flex-direction: column;
  }

  & > div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

div.transactionInfo {
  margin-top: 25px;
  display: grid;
  grid-template-rows: auto;
  row-gap: 8px;

  span.value {
    color: var(--text-darker);
    font-weight: $bold;
  }

  span.bonus {
    color: var(--text-selected);
  }

  span.slippage {
    color: $error;
  }
}

.error {
  width: 100%;
  color: $error;
  font-weight: $normal;
  text-align: center;
  margin: 8px;
}

.formSpace {
  width: 100%;
  height: 16px;
}

.approvalMessage {
  padding: 20px 10px;
  text-align: center;
  color: var(--text-lighter);
  font-size: 14px;
  @include breakpoint(sm) {
    font-size: 12px;
  }
}

.tokenList {
  margin-bottom: 20px;
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  background: var(--secondary-background);
  padding: 15px;
  border-radius: 10px;

  img {
    vertical-align: text-bottom;
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }

  .token {
    margin-top: 24px;

    &:nth-child(odd) {
      width: 51%;
    }
  }

  span.tokenPercent {
    margin-left: 16px;
    font-weight: $medium;
  }

  span.tokenValue {
    display: block;
    margin-top: 8px;
    font-size: 14px;
  }

  .bold {
    white-space: nowrap;
    font-weight: $bold;
    font-size: 17px;
  }
}
